# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

.idea
/types/
/environment.json
/octopus.json
/resources/
/.esbuild/
.esbuild/
/lib/node_modules
